<html>
	<head>
		<title>OLYMPIA HOTEL</title>
			<!--link de estilo local-->
			<link rel="stylesheet"  type="text/css" href="/css/bootstrap.css">
			
		
			<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
			<script src="/js/bootstrap.min.js"></script>
		    
			<!-- Custom fonts for this template -->
			<link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
	
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		 
	</head>
	<body>
	<!-- header -->
	<div class="alert alert-success" th:if="${success != null}"
			th:text="${success}"></div>
	<div class="alert alert-danger" th:if="${error != null}"
			th:text="${error}"></div>
	
	<!-- header -->
		<section class="contenedor">

			<!--banner-->
			
			
			<header class="menu">
			
			
				<!--menu-->
				<section class="menulogo">
					<img id="logo" src="/img/logo.png">
				</section>
				
					<nav>
						<ul class="menus">
							<li class="men"><a href="/">Inicio</a>
							</li>
							<li class="men"><a href="#">Nosotros</a>
								<ul class="sub-menu">
									<li><a href="/vision">Vision</a></li>
									<li><a href="/mision">Mision</a></li>
									<li><a href="/ubicacion">Ubicacion</a></li>
								</ul>
							</li>
							<li class="men"><a href="#">Habitaciones</a>
							  <ul class="sub-menu">
								<li><a href="/tipo/2">Dobles</a></li>
								<li><a href="/tipo/21">Matrimonial</a></li>
								<li><a href="/tipo/22">Suite</a></li>
							  </ul>
							</li>
							
							</li>
							<li class="men"><a href="/contacto">Contactos</a>
							</li>
						  </ul>
						  
						 <div th:if="${session.usuariologeado}" >
						 <li class="men"><a href="cerrarsession">Cerrar Session</b></a></li>
						  </div>
						<div th:if="${session.usuariologeado == null}" >
						<ul class="navbar-right menuderecho">
			        
			      			<li class="men"><a href="#">Login</b> <span class="caret"></span></a>
			         			<ul class="sub-menu">
			         				<li><a href="login">Login</a></li>
									<li><a href="registro">Registrarse</a></li>
			                    </ul>
			      			</li>
						</ul>
						</div>
								
					</nav>			

			
			</header>
			
		</section>
		
		
			
					<br>
					<br>
					<br>
			<section Class="tituloHabitacion text-center" >
						<h1 >NUESTRAS HABITACIONES</h1>
					</section>
				<br>
		<div class="section boxes" >
                <div class="center">
	
                    <div class="item " th:each="habitaciones: ${habitaciones}">
   
                        <div class="item-container" >
                            
                                <div class="thumb">
                                    <img src="/img/img1.jpg" alt="" width="500" height="300">
                                    <div class="featured">Caracteristicas</div>
                                </div>
                                
                                     
                                
                                <div class="details">
                                
									<h5 th:each="tipo_habitacion: ${tipo}" th:if="${tipo_habitacion.Id == habitaciones.Id_Tipo}">
									<p th:text="${tipo_habitacion.Tipo}"></p>
								
	
                                
                                Caracteristicas:<p th:text="${habitaciones.Caracteristicas}"></p>
                                Precio Por Noche: $<p th:text="${habitaciones.Precio}"></p>
                                </h5>
                                  
                                    <a th:href="@{/reserva/} + ${habitaciones.Id}" class="reserva"> Reservar</a>
                                      
                                
           
                            
                        </div>
                        </div>
                    </div>


			
                </div>
            </div>
		
		
		
		
		<section class="cont3">
		
					<br>
					<hr>
					<br>
					 <!-- Services -->
						<section id="services">
						  <div class="container">
							
							<div class="row text-center">
							  <div class="col-md-4">
								<span class="fa-stack fa-4x">
								  <img id="imagen1" src="/img/tel.png">
								</span>
									<h2 class="service-heading">LLAMANOS</h2>
									<p class="text-muted">te atenderemos al momento</p>
									<H3>NUMERO DE TELEFONO<H3>
									<p>2646-4212</p>
							  </div>
							  <div class="col-md-4 medio">
								<span class="fa-stack fa-4x">
									<img id="imagen1" src="/img/correo.png">

								</span>
									<h2 class="service-heading">ESCRIBENOS </h2>
									<p class="text-muted">Te contestaremos lo mas pronto posible</p>
									
									<H3>EMAIL	<H3>
									<p>infolimpia@gmail.com</p>
							  </div>
							  <div class="col-md-4">
								<span class="fa-stack fa-4x">
								  <img id="imagen1" src="/img/dir.png">
								</span>
									<h2 class="service-heading">VISITANOS</h2>
									<p class="text-muted">Ven a conocernos</p>
									
									<H3>DIRECCION<H3>
									<p>Barrio San Francisco # 460, San Miguel</p>
							</div>
							</div>
						  </div>
						</section>

	
					<br>
					<hr>
					<br>
					
					
					
		</section>
		
		<footer>
							
						<section class="tbcontenidofoot">
													
							<section class="footInformacion">
								
								<img id="logofot" src="/img/logo.png">
								
								<article class="footinfo1">
									
									<h1>CONECTATE</h1>
									<ul>
										<li><a>Facebbok</a></li>
										<li><a>Twitter</a></li>
									</ul>									
								</article>
								<article class="footinfo2">
									
									<h1>SOBRE NOSOTROS</h1>
									<ul>
										<li><a href="index.html">Inicio</a></li>
										<li><a href="nosotros.html">Nosotros</a></li>
										<li><a href="habitaciones.html">Habitaciones</a></li>
										<li><a href="promociones.html">Promociones</a></li>
										<li><a href="servicios.html">Servicios</a></li>
										<li><a href="contactos.html">Contactos</a></li>
										
									</ul>
								</article>
								
								
							</section>
						
					
					
					
				</section>
				<section class="pie">
					<b>Todos los Derechos Resevados, COPYRIGHT 2018<br></b>
				</section>
		
		
		</footer>
		
	
	</body>
</html>


